{% extends "base.html" %}
{% block content %}

<div class="container mt-4" style="max-width: 700px;">
    <h2>Crear Nueva Obra</h2>

    <form method="post">
        {% csrf_token %}

        <div class="card shadow-sm p-4 mt-3">

            {% for field in form %}
                <div class="mb-3">
                    <label class="form-label">{{ field.label }}</label>
                    {% if field.label == "Ubicacion" %}
                    <div class="input-group">
                        {{ field }}
                        <a href="{% url 'crear_ubicacion' %}?next={{ request.path }}" class="btn btn-outline-success" title="Agregar nueva ubicacion" target="_blank">
                            <i class="bi bi-plus-lg"></i>
                        </a>
                    </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    {% if field.errors %}
                        <div class="text-danger small">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="d-flex justify-content-end">
                <a href="{% url 'dashboard_admin' %}" class="btn btn-secondary me-2">
                    Cancelar
                </a>
                <button type="submit" class="btn btn-success">
                    Guardar
                </button>
            </div>

        </div>
    </form>
</div>

{% endblock %}

{% block scripts %}
<script>
document.addEventListener("DOMContentLoaded", function() {

    // ===== NOMBRE EN MAYÚSCULAS EN TIEMPO REAL =====
    const nombreInput = document.getElementById("id_nombre");

    if (nombreInput) {
        nombreInput.addEventListener("input", function() {
            this.value = this.value.toUpperCase();
        });
    }
});
</script>

<script>
// ===== NÚMERO DE EXPEDIENTE =====
// Formato: 3052-M-2026

document.addEventListener("DOMContentLoaded", function() {

    const expedienteInput = document.getElementById("id_numero_expediente");

    if (expedienteInput){
        expedienteInput.addEventListener("input", function() {
            this.value = this.value.toUpperCase();
        })
    }
});
</script>
{% endblock %}