{% extends "base.html" %}
{% block content %}

<div class="container mt-4" style="max-width: 700px;">
    <h2>Editar Obra</h2>

    <form method="post">
    {% csrf_token %}
        <div class="card shadow-sm p-4 mt-3">
            {% for field in form %}
            <div class="mb-3">
                <label class="form-label">{{ field.label }}</label>
                {% if field.name == "ubicacion" %}
                <div class="input-group">
                    {{ field }}
                    <a href="{% url 'crear_ubicacion' %}?next={{ request.path }}" class="btn btn-outline-success" title="Agregar nueva ubicación">
                        <i class="bi bi-plus-lg"></i>
                    </a>
                </div>
                {% else %}
                    {{ field }}
                {% endif %}
                {% if field.errors %}
                    <div class="text-danger small">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="d-flex justify-content-end">
            <a href="{% url 'dashboard_admin' %}" class="btn btn-secondary me-2">
                Cancelar
            </a>

            <button type="submit" class="btn btn-warning">
                Guardar cambios
            </button>
        </div>
    </div>
    </form>
</div>
{% endblock %}